<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the pattern for log messages -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console appender configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level and its appenders -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Example of a logger configuration for a specific package -->
    <logger name="com.ccunarro" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

<!--    <logger name="org.hibernate.type.descriptor.sql" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->


</configuration>
